# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Code Editor crap
.vs
.vscode
.settings

# Compiled Static libraries
*.lai
*.la
*.a

# Executables

*.out
*.app

# folders
x64
testing
build
vcpkg_installed
packages

*.tlog
*.log